<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

	<header>
		<div class="container">
		    <h2>Sun Protect</h2>
	    </div>
    </header>
    
            <div class="container">
               
                <div class="fieldset">
                    <iframe src="https://giphy.com/embed/3o7qDTRpSfPBS8Lmne" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/environ-chrysallisproderma-environgreece-3o7qDTRpSfPBS8Lmne">
              
                    <p style="margin:0px;"><b>Results</b></p>
                   <h1>Product Recommendations </h1>
                   <h1>{{ output }}</h1>
                </div>
            </div>

    </div>
	
	

</body>